* {
    margin: 0;
}

@font-face {
    font-family: header;
    src: url('../font/Pacifico-Regular.ttf');
}

@font-face {
    font-family: deedev;
    src: url('../font/Poppins-Regular.otf');
}

body {
    font-family: header;
}

html {
    scroll-behavior: smooth;
}

@media (min-width:992px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

nav {
    /* background-color: #EEEEEE; */
    font-size: 17px;
    color: white;
    font-family: deedev;
}



.navbar-light .menu .nav-link {
    font-size: 17px;
    transition: 0.2s ease-in-out;
}


.navbar-light .menu .nav-link:hover {
    padding-bottom: 10px;
    border-bottom: 3px solid #0984e3;
    color: #57606f;
}

.navbar-light .social .nav-link {
    font-size: 17px;
    color: white;
    transition: 0.2s ease-in-out;
}

.navbar-light .social .nav-link:hover {
    color: white;
    text-shadow: 0 0 4px #0984e3;
    font-size: 18px;
}


.carousel-item img {
    width: auto;
    height: 100vh;
}

.text-box {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 15%;
    right: 15%;
    color: white;

    transform: translateY(-50%);
}

.about h1 {
    text-align: center;
    font-size: 30px;
}

.detail-about {
    color: #57606f;
    font-size: 15px;
    padding: 75px 100px;
}

.btn-about1 {
    background: linear-gradient(90deg, rgba(60, 117, 196, 1) 0%, rgba(69, 184, 210, 1) 100%);
    color: white;
}

.btn-about2 {
    border: 1px solid #51adcf;
    color: #51adcf;
}

.skill {
    background-color: #FBFBFB;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    padding-top: 50px;
}

.skill h1 {
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

hr.hr-title {
    height: 2px;
    width: 5%;
    background-color: #57606f;
    margin: auto;
}

.icon-skill {
    font-size: 50px;
    text-align: center;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skill-item h4 {
    color: #57606f;
}

.skill-item small {
    font-size: 15px;
    color: #a4b0be;
    margin-top: 10px;
    display: block;
    line-height: 100%;
}

.experience {
    background-color: #FBFBFB;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    padding-top: 50px;
}

.experience h1 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

.experience p {
    text-align: center;
}


.ex-item h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: bold;
}

.ex-item p {
    text-align: center;
    padding: 0;
}


.portfolio {
    background-color: white;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.portfolio h1 {
    text-align: left;
    font-size: 30px;
    padding-bottom: 10px;
    margin-left: 30px;
}

hr.hr-title-port {
    height: 2px;
    width: 5%;
    background-color: #57606f;
    margin-left: 30px;
}

.port-item h4 {
    padding-top: 20px;
    text-align: left;
}

.port-item p {
    font-size: 15px;
    color: #57606f;
    text-align: left;
}

.port-item a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
    color: #1e90ff;
    text-align: left;
}

.port-detail {
    background-color: white;
    box-shadow: 0 0 10px 10px whitesmoke;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.port-detail a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
    color: #1e90ff;
    text-align: center;
}

.port-detail h4 {
    padding-top: 70px;
    text-align: center;
}


.contact {
    background-color: white;
    padding-bottom: 100px;
    padding-top: 50px;
}


.contact h1 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    margin-left: 30px;
}

.contact-item {
    margin-top: 50px;
}

footer {
    background-color: #1C1C1C;
}


.foot-menu ul li {
    display: inline;
}

.foot-menu ul li a {
    font-size: 15px;
    color: white;
    margin: 0;
}